# ===============================
# DATABASE CONFIG
# ===============================
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# ===============================
# JWT AUTHENTICATION
# ===============================
JWT_SECRET=
JWT_EXPIRATION=

# ===============================
# AI (Groq LLM)
# ===============================
GROQ_API_KEY=

# ===============================
# WEATHER API
# ===============================
WEATHER_API_KEY=
WEATHER_BASE_URL=

# ===============================
# MANDI / MARKET PRICE API
# ===============================
MARKET_API_KEY=
MARKET_BASE_URL=

# ===============================
# REDIS CONFIG
# ===============================
REDIS_HOST=
REDIS_PORT=

# ===============================
# RABBITMQ CONFIG
# ===============================
RABBITMQ_HOST=
RABBITMQ_PORT=

# ===============================
# FIREBASE
# ===============================
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=

# ===============================
# SERVER CONFIG
# ===============================
SERVER_PORT=
